.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 30px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 15px 0;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}


.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid #87CEFA;
  color: #87CEFA;
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
  background-image: url("back_img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.message{
  margin-top: 10px;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.message-delete{
  text-decoration: none;
  font-size: 13px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: #38AEF0;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.top-main{
  width: 100%;
  height: 30vh;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url('25744580_l.jpg');
  background-size: cover;
  font-size: 25px;
  padding: 20px;
  color: #DADADA;
}


.service-items {
  width: calc(100vw - 300px);
  height: 35vh;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  flex-wrap: wrap;
}

.service-item {
  width: 200px;
  height: 300px;
}

.service-image {
  width: 200px;
  height: 200px;
}

.service-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.service-text {
  width: 100%;
  height: 100px;
  padding: 20px;
  border-radius: 5px;
  background-color: #DADADA;
}

.service-text__main {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.service-text__sub {
  margin-top: 14px;
  font-size: 14px;
  line-height: 17px
}
